DATABASE_URL = <DATABASE_URL>
ADMIN_FIRSTNAME = <ADMIN_FIRSTNAME>
ADMIN_LASTNAME = <ADMIN_LASTNAME>
ADMIN_EMAIL = <ADMIN_EMAIL>
ADMIN_PASSWORD = <ADMIN_PASSWORD>
ADMIN_PHONE = <ADMIN_PHONE>
TOKEN_KEY = <TOKEN_KEY>
MAIL_HOST=<mail_host> 
MAIL_PORT=<mail_port>
SMTP_USERNAME=<smtp_username>
SMTP_PASSWORD=<smtp_password>
CLIENT_URL=<CLIENT_URL>
